#canvas {
  position: relative;
}

.command-container {
  width: 100%;
  display: flex;
  position: absolute;
  padding: 1em;
  gap: 0.5em;
  bottom: 0;
  text-align: center;
}

.command-button {
  flex: 1;
  border: 2px solid white;
  border-radius: 0.4em;
  color: white;
  padding: 0.5em 1em;
  background-color: #222222;
  font-weight: bold;
}

.command-button:active {
  opacity: 0.5;
}

.desc-container {
  position: absolute;
  top: 0;
  border: 2px solid white;
  border-radius: 0.4em;
  margin: 1em;
  padding: 1em;
  background-color: #222222;
  font-size: large;
  color: white;
}

/* .enemy-hp,
.enemy-name {
    
} */
