#canvas {
  position: relative;
}

.form {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em;
  gap: 1em;
}

.form input[type="text"],
textarea {
  flex: 1;
  background-color: #c9c9c9c9;
  padding: 8px;
  border-radius: 0.2em;
}

.form button {
  background-color: #066292;
  padding: 8px;
  color: white;
  border-radius: 0.2em;
}
